.steps__wrapper {
	padding: 5vh 0;
	max-width: 1440px;
	margin: 0 auto;
	height: auto;
}

.steps__container {
	display: grid;
	justify-content: center;
	justify-items: center;
	gap: 2vh;
	text-align: center;
	width: 100%;
}

.steps__list {
	position: relative;
	display: grid;
	grid-auto-flow: row;
	justify-items: center;
}

.step__item {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 2rem;
	position: relative;
	animation-duration: 0.5s;
	animation-fill-mode: backwards;
	color: var(--brown);
	font-size: 1.1rem;
	width: 60%;
	opacity: 0;
	transform: translateY(-60px);
}

.step__item_active {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 0.5s ease, transform 0.5s ease;
}

.step__icon_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	position: relative;
}

.step__number {
	position: relative;
	top: -25px;
	left: 25px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: var(--gray-light) solid 1px;
	background-color: var(--white);
	color: var(--brown-dark);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 1rem;
}

.step__icon {
	margin-top: 10px;
}

.step__content {
	text-align: left;
}

.step__title {
	font-size: 1.25rem;
	font-weight: bold;
}

.step__description {
	font-size: 1rem;
}

@media screen and (max-width: 768px) {


	.step__item {
		grid-template-columns: 1fr;
		gap: 0;
	}

	.step__content {
		text-align: center;
	}

	.step__number {
		width: 25px;
		height: 25px;
		font-size: 0.9rem;
	}

	.step__title {
		font-size: 1.1rem;
	}

	.step__description {
		font-size: 0.9rem;
	}
}

@media screen and (max-width: 480px) {
	.step__number {
		width: 20px;
		height: 20px;
		font-size: 0.8rem;
	}


}