.next
src/.next
.audit
.perf
next-env.d.ts
node_modules
coverage
src/coverage
storybook-static
.vercel
test-results
playwright-report
blob-report
styled-system
pnpm-lock.yaml
yarn.lock
*.min.js
public/
