.menu {
    max-width: 20vw;   
    display: grid;
}

.menu__link {
    text-decoration: none;
}

.menu__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3vh;
    align-content: center;  
}

.menu__item {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--brown-light);
    cursor: pointer;
    display: grid;
    white-space: nowrap;

}

.menu__item:hover {
    color: var(--brown-white);
    text-shadow: 0 0 10px var(--brown-white);

}

@media (max-width: 768px) {
    .navigation {
        max-width: 80vw;
        margin: 0 auto;
    }
    .menu__item {
        font-size: 1.7rem;
    }
}

