.logo {
    grid-column: 1 / 2;
}

.image {
    max-width: 14vh;
    max-height: 14vh;
    height: auto;
}

.image:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .logo{
        display: none;
    }
}