.offer {
    padding: 3% 0;
    height: auto;
}

.offer__container {
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    display: grid;
    justify-items: center;

}

.offer__row {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 4%;
}

.offer__left_column {
    position: relative;
    margin: 0 2%;
}

.offer__image {
    position: relative;
    width: auto;
    height: 100%;
    display: block;
}

.offer__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.offer__right_column {
    position: relative;
    margin: 0 2%;
}

.text__content {
    display: grid;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 2rem;
    background: linear-gradient(to bottom, white, var(--beige-dark));
    border-radius: 5px;
    color: var(--brown-dark);
    text-shadow: 0 0 1px var(--brown-light);
    opacity: 0.9;
}

.content_subTitle {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2rem;
    margin: 2% 0;
    opacity: 0.8;
    text-align: center;

}

.content_subTitle::after {
    content: "";
    display: block;
    height: 2px;
    width: 80%;
    margin: 5% auto 0;
    background-color: var(--brown-light);
}

.content_description {
    margin: 2% 0;

}


.content_tips {
    margin: 2% 0;
}

.content_questions li {
    margin: 2% 0;
    list-style: square;
}

.content_tips {
    font-style: italic;
    margin: 2% 0;
}

.order__button {
    align-self: flex-end;
}

@media (max-width: 768px) {
    .offer__left_column {
        display: none;
    }

    .offer__container {
        margin: 3% 5%;
        max-width: 90vw;
    }

    .text__content {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
}