.approach {
    max-width: 100%; 
    background-color: var(--brown-white);
    padding: 5vw 0;
}

.approach__container {
    margin: 0 auto;
    max-width: 1440px;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-gap: 4vh;
}