*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
	padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
html,
#next,
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-family: Inter, sans-serif;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
	list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
	max-width: 100%;
	display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
	margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
	font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

.dots {
	display: flex;
	justify-content: center;
	height: 10px;

}

.dot {
	border: none;
	width: 10px;
	height: 10px;
	background: #868585;
	border-radius: 50%;
	margin: 0 5px;
	padding: 5px;
	cursor: pointer;
}

.dot:focus {
	outline: none;
}

.dot.active {
	background: #000;
}

.arrow {
	width: 40px;
	height: 80px;
	position: absolute;
	margin: 0 10px;
	padding: 20px 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	fill: var(--brown);
	background-color: var(--beige-dark);
	cursor: pointer;
}

.arrow--left {
	left: -10px;
	border-radius: 0 4px 4px 0;
}

.arrow--right {
	left: auto;
	right: -10px;
	border-radius: 4px 0 0 4px;
}

.arrow--disabled {
	fill: var(--brown-light);
}

:root {
	--black: #0D0B0B;
	--blue: #1E2640;
	--blue-light: #4A60A1;
	--gold: #9f8329;
	--gold-light: #f4ebcd;
	--gold-dark: #6a581c;
	--clear: transparent;
	--gray: #889099;
	--gray-light: #EBEBEB;
	--gray-dark: #333333;
	--white: white;
	--primary: #7351F5;
	--primary-hover: #6344DF;
	--secondary: #555;

	--brown-dark: #221F1D;
	--brown: #4D4540;
	--brown-light: #786B64;
	--brown-white: #9F928B;
	--beige: #FAF5E6;
	--beige-dark: #E6E3E1;
	--font-family: 'Public Sans', sans-serif;
}
