.footerContainer {
    background-color: #222;
    color: #fff;
    width: 100%;
    bottom: 0;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 1440px;
    padding: 40px 20px;
}

@media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr;
        padding: 20px;
    }
}