.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 70vw;
  margin: 2% auto;
  position: relative;
  background-color: var(--brown-dark);
  border-radius: 10px;
}

.map {
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

@media only screen and (max-width: 752px) {
  .mapContainer {
    width: 90vw;
  }
}