.theme__button {
	background-color: transparent;
	border: none;
	color: var(--brown-dark);
	filter: drop-shadow(0 0 5px var(--brown-white));
	display: grid;
	align-items: center;
	justify-content: end;
	font-size: 1.8rem;
	font-weight: bold;
	padding: 0;
	margin: 0;
	transition: color 0.5s ease;
	white-space: nowrap;
}

.theme__button:hover {
	color: var(--brown-white);
	filter: drop-shadow(0px 0px 3px var(--brown-dark));
	cursor: pointer;
}

.theme__button svg {
	width: 1.6rem;
	height: 1.6rem;
}

@media (max-width: 768px) {
	.theme__button svg {
		width: 1.4rem;
		height: 1.4rem;
	}
}

@media (max-width: 425px) {
	.theme__button {
		display: none;
	}
}