.input_container {
	min-height: 5.5rem;
}

.input_area {
	width: 80%;
	height: 40px;
	border-radius: 4px;
	display: grid;
	margin: clamp(0.75rem, 2vw, 1.5rem) auto 0;
	padding: 8px;
	color: var(--brown-light);
	font-weight: bold;
	font-size: 1.3rem;
	outline: none;
}

.visually_hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.input_area:focus-visible {
	outline: 2px solid var(--brown-light);
}

.empty {
	border: 2px solid var(--color-danger);
}

.error {
	color: var(--color-danger);
	margin-top: 0.5rem;
	font-size: 0.8rem;
	font-style: oblique;
	text-align: center;
}