.collapse_container {
    display: grid;
    height: 5vh;
    width: 100%;
}

.collapse_header {
    background-color: var(--brown-white);
    height: 40px;
    border-radius: 4px;
    border: none;
    display: grid;
    grid-template-columns: 1fr auto ;
    align-items: center;
    grid-gap: 60px;
    padding: 8px;
    font-size: 1.1em;
    color: var(--brown-dark);
    margin: 5px 0;
    justify-items: flex-start;

}
.arrow_right {
    display: inline-block;
    transform: rotate(0deg);
    
}

.arrow_down {
    display: inline-block;
    transform: rotate(-90deg);
}
.collapse_body {
    display: grid;
    color: var(--brown-dark);
    z-index: 9999;
    background-color: var(--beige-dark);
}
.active{
    display: grid;
    background-color: var(--beige-dark);
    height: 40px;
    border-radius: 4px;
    border: 2px solid  var(--brown-white);
    margin: 5px 0;
    padding: 8px;
    align-items: center;
    font-size: 1.1em;
    color: var(--brown-dark);
    justify-content: flex-start;
}
.inactive{
    display: grid;
    background-color: var(--beige-dark);
    height: 40px;
    border-radius: 4px;
    border: none;
    margin: 5px 0;
    padding: 8px;
    align-items: center;
    font-size: 1.1em;
    color: var(--brown-dark);
    justify-content: flex-start;
}
.active:hover {
    background-color: var(--brown-white);
    cursor: pointer;
}

.inactive:hover{
    background-color: var(--brown-white);
    cursor: pointer;
}