.mobileMenu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 999;
    }
    
    .mobileMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .mobileMenu li {
    margin-bottom: 20px;
    }
    
    .mobileMenu a {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    }
    
    .mobileMenu a:hover {
    color: #8e6eef;
    }
    
.open {
    transform: translateX(0);
    }
    @media (max-width: 768px) {
        .mobileMenu {
            height: 0;
            overflow: auto;
            transition: height 0.3s ease;
        }
    
.open {
            height: 100%;
        }
    }