.appeal {
    position: inherit;
    max-width: 100%;
    padding: 0;
}

.appeal__container {
    height: 54vh;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
    text-shadow: 1px 1px 1px var(--brown-dark);
}

.appeal__background {
    position: absolute;
    width: 100%;
    height: 60%;
    z-index: -1;
    background-repeat: no-repeat;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .appeal__container {
        height: 30vh;
    }

}