.services__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	margin: 0 2vw;
}

.services__card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	overflow: hidden;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s, box-shadow 0.3s;
}

.services__card:hover {
	transform: translateY(5px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.services__card:last-child {
	grid-column: span 2;
	grid-row: span 1;
}

.card__title {
	position: absolute;
	bottom: 40%;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 1.5;
	color: var(--beige);
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 0.5rem 1rem;
	border-radius: 5px;
	opacity: 0.8;
	transition: bottom 0.5s, opacity 0.5s;
	z-index: 1;
}

.services__card:hover .card__title {
	bottom: 50%;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.8);
}

.image__background {
	width: 100%;
	height: 100%;
	background-size: cover;
	border-radius: 10px;
	transition: transform 0.5s ease-in-out;
	background-color: white;
}

.services__card:hover .image__background {
	transform: scale(1.1);
	cursor: pointer;
}

.card__image img {
	border-radius: 10px;
	object-fit: cover;
	width: 100%;
	height: auto;
}

@media screen and (max-width: 1440px) {
	.card__title {
		font-size: 1rem;
		padding: 0.4rem 0.8rem;
		bottom: 25%;
	}
}

@media screen and (max-width: 768px) {
	.services__cards {
		grid-template-columns: repeat(2, 1fr);
	}

	.services__card:hover .card__title {
		bottom: 40%;
	}
}

@media screen and (max-width: 425px) {
	.services__card:hover .card__title {
		bottom: 30%;
	}
}