.address__contacts {
  padding: 5%;
  max-width: 1440px;
  margin: 0 auto;
  color: var(--brown);
}

.address__header {
  display: grid;
  justify-content: center;
  margin-bottom: 5%;
  color: var(--brown-dark);

}

.address__content {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: center;
}

.address__item {
  border-left: 3px solid var(--brown-light);
  padding: 10px;
  min-height: 100%;
  line-height: 3rem;
}

.address__item:first-child svg {
  display: none;
}

@media only screen and (max-width: 752px) {
  .address__content {
    grid-template-columns: repeat(1, auto);
    justify-content: space-between;
    align-items: center;

  }
}