.news__container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: start;
    grid-gap: 2vh; 
    height: 24vh;
    overflow: hidden;  
}

.news__title {
    font-size: 1.2rem;
    color: var(--brown-light);
    padding-bottom: 3vh;
}

.news__content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 2vh;
    
}

.content__image img {
    width: 4vh;
    height: 4vh;
    color: var(--brown-dark);
}

.content__wrapper {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 0.6vh;
    align-items: start;
}

.content__date {
    font-size: 0.8rem;
    text-align: start;
    color: var(--brown-light);
}

.content__title {
    max-width: 25vw;
    font-size: 0.9rem;
    color: var(--brown-white);
    text-align: start;
    text-decoration:none;
}

.content__title:hover {
    color: var(--beige-dark);
    cursor: pointer;
}

.content__text {
    display: none;
}


@media (max-width: 768px) {
    .content__title {
        max-width: 400px;
    }
}