.news__container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: start;
    grid-gap: 2vh;
}

.news__title {
    font-size: 1.2rem;
    color: #665c2b;
    padding-bottom: 1vh;
}

.news__content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 2vh;
}

.content__image img {
    width: 4vh;
    height: 4vh;
}

.content__wrapper {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 0.6vh;
    align-items: start;

}

.content__date {
    font-size: 0.7rem;
    text-align: start;
    color: #c4c1b0;

}

.content__title {
    color: #948e68;
    text-align: start;
}

@media (max-width: 768px) {


    .content__title {
        max-width: 400px;
    }
}