.footerTitle {
    font-size: 1.5rem;
    font-weight: bold;
    max-height: 52px;
}

.footerContents {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    margin-bottom: 20px;
}

.footerContent {
    display: flex;
    align-items: center;
}

.footerContent img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    justify-content: center;
}

.newsText {
    white-space: normal;
}

@media screen and (max-width: 768px) {
    .footerTitle {
        font-size: 1rem;
    }
}