.news__container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: start;
    grid-gap: 2vh;
}

.news__title {
    font-size: 1.2rem;
    color: var(--gold-dark);
    padding-bottom: 1vh;
}

.news__content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 2vh;
}

.content__image img {
    width: 4vh;
    height: 4vh;
}

.content__wrapper {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 0.6vh;
    align-items: start;

}

.content__date {
    font-size: 0.6rem;
    text-align: start;
    color: var(--gold-light);

}

.content__title {
    max-width: 25vw;
    font-size: 0.9rem;
    color: var(--gold);
    text-align: start;
}
.content__title:hover {
    color: var(--gold-light);
    cursor: pointer;;
}

@media (max-width: 768px) {
    .content__title {
        max-width: 400px;
    }
}