.costing {
	max-width: 100vw;
	padding: 3%;
}

.costing__container {
	max-width: 1440px;
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-gap: 4vh;
	margin: 0 auto;
}

.costing__cards {
	display: grid;
	height: auto;
	grid-gap: 3vh;
}
