.header {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%; 
    background-color: #F2F1EF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px auto;
    align-items: center;
    background-color: #F2F1EF;
    max-width: 1440px;
}

.menuIcon {
    display: none;
}

@media (max-width: 768px) {
    .container {
        grid-template-rows: 50px 1fr;
        align-items: center;
        justify-content: center;
        background-color: #F2F1EF;
    }

    .menuIcon {
        display: grid;
        grid-column: 5 / 6;
        margin: 0 20px;
        align-items: center;
        cursor: pointer;
    }    
}