.costing__cards {
    margin: 0 5%;
    display: grid;
    padding: 2vh 0;
    height: 60vh;
}

.costing__card {
    width: auto;
    height: 50vh;
    display: grid;
    justify-items: center;
    margin: 2vh 5%;
    align-items: center;
    border-radius: 2%;
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--brown-white),inset -2px -2px 10px var(--brown-white);;
    transition: transform 0.5s ease, opacity 0.3s ease;
    opacity: 1;
    transform: translateY(20px);
}

.costing__card:hover {
    box-shadow: 0px 0px 5px var(--brown-white),inset -2px -2px 5px var(--brown-white);;
    opacity: 0.9;
    transform: translateY(0);
}

.card__background {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.background {
    width: 100%;
    height: 100%;
}

.card__title {
    margin: 4%;
    display: grid;
    position: absolute;
    text-align: center;
    font-size: 2.4vh;
    font-weight: 500;
    letter-spacing: 0.002em;
    color: var(--beige);
    text-shadow: 1px 1px 1px var(--brown);
}

@media screen and (max-width: 768px) {
    .costing__cards {
        padding: 0;
    }

    .card__title {
        font-size: 1.6rem;
        margin: 2% 0;
    }
}