.social__icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5vw;
    grid-column: 4 / 5; 
    font-size: 1.2rem;
}

.icons {
    display: grid;
    justify-content: center;
    align-content: center;
    color: var(--brown);   
}

.icons:hover {
    color: var(--brown-light);   
}

@media (max-width: 768px) {
    .social__icons {
        grid-column: 3 / 4;
        grid-gap: 2vw;
    }    
}