.socialIcons {
    display: flex;
    grid-column: 4 / 5;
    justify-content: center;
    white-space: nowrap;
}

.socialIcons a {
    color: #665c2b;
    margin: 0 10px;
}

.socialIcons svg {
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
    .socialIcons {
        grid-column: 3 / 4;
    }

    .socialIcons svg {
        width: 16px;
        height: 16px;
    }
}