.arrow__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;

}

.arrow__button {
    transition: color 0.5s ease;
    border: none;
    background: transparent;
}



.arrow__left {
    font-size: 3.2rem;
    transform: rotate(180deg);
    cursor: pointer;
    transition: all 0.5s ease;
    background: transparent;
}

.arrow__right {
    font-size: 3.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
    background: transparent;
}

.arrow__left:hover {
    opacity: 0.8;
}

.arrow__right:hover {
    opacity: 0.8;

}

@media (max-width: 768px) {
    .arrow__buttons {
        display: none;
    }
}