.banner {
    position: inherit;
    max-width: 100%;

    background-image: url("../assets/background.jpg");
    padding: 10% 0;
    }
    
    .banner__container {
    max-width: 1440px;
    height: 50vh;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-gap: 20%;
    margin: 0 auto;
    }
    
