.menu__icon {
    display: none;
}

@media (max-width: 768px) {
    .menu__icon {
        display: grid;
        grid-column: 5 / 6;
        align-items: center;
        color: var(--brown);
        font-size: 1.2rem;
    }    
    .menu__icon:hover :active {
        cursor: pointer;
        color: var(--brown-light);
    }    
}