.service_detail {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px;
	max-width: 1440px;
	margin: 0 auto;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.left {
	flex: 2;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: space-around
}

.right {
	flex: 1;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 20px;
}

.title {
	font-size: 2rem;
	color: var(--gray-dark);
	margin-bottom: 20px;
	text-align: center;
}

.subTitle {
	font-size: 1.4rem;
	color: var(--gray-dark);
	margin-bottom: 20px;
	text-align: center;
}

.description {
	font-size: 1.2rem;
	color: var(--secondary);
	margin-bottom: 20px;
	padding: 0 15px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image_wrapper {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.image {
	width: 100%;
	height: auto;
	object-fit: cover;
	transition: transform 0.3s ease-in-out;
}

.image:hover {
	transform: scale(1.05);
}

.info {
	font-size: 1.1rem;
	color: var(--gray-dark);
	padding: 15px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.info ul {
	padding-left: 20px;
}

.info_row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	align-items: center;
}

.label {
	font-weight: bold;
	color: var(--gray-dark);
	text-align: left;
}

.value {
	text-align: left;
}

.button {
	display: flex;
	justify-content: center;
}

/* Адаптивность */
@media (max-width: 768px) {
	.service_detail {
		flex-direction: column;
	}

	.left, .right {
		width: 100%;
	}

	.title {
		font-size: 1.8rem;
	}

	.description {
		font-size: 1rem;
	}

	.info {
		font-size: 1rem;
	}

	.info_row {
		gap: 50px;
	}
}

@media (max-width: 480px) {
	.title {
		font-size: 1.5rem;
	}

	.description {
		font-size: 0.9rem;
	}

	.info {
		font-size: 0.9rem;
	}

	.info_row {
		grid-template-columns: 1fr auto;
		gap: 10px;
	}
}
